.featured{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.featuredItem{
    flex: 1;
    border: 1px solid rgba(74, 74, 74, 0.37);
    margin: 10px 10px;
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin-left: 4px;
}
.sub{
    font-size: 20px;
    margin: 10px 10px;
    text-align: center;
}
.featuredMoney{
    line-height: 30px;
    font-size: 40px;
    margin: 10px 10px;
    text-align: center;
}