.topbar{
    display: flex;
    position: sticky;
    top: 8px;
    z-index: 999;
    max-width: 100%;
    max-height: 50px;
    background-color: rgb(206, 203, 203);
    align-items: center;
    justify-content: space-between;
    padding: 12px 12px;
}
.image1{
    max-width: 80px;
    max-height: 60px;
}
.userName:hover{
    color: #fff;
    }