.sidebar{
    background-color: #0d47a1;
    max-width: 60px;
    max-height: 100%;
    display: block;
    padding: 4px 4px;
    position: sticky;
    top: 60px;
}
.icon{
    font-size: 10px;
    color: #fff;
    padding: 10px 15px;
}
span{
    margin: 0px -10px;
}

.icon.top{
    padding-top: 100px;
}
.icon.bot{
    padding-bottom: 100px;
}
