@import './mixin';
.sidebar {
    @include side
    }
.icon {
    @include iconstyle;
}
.icon, .bot, .top :hover{
    cursor: pointer;

}
.icon .top{
    @include iconstyle;
    padding-top: 10px;
}
.icon .bot{
    @include iconstyle;
    padding-bottom: 1000px;
    }
span {
    margin: 0px -10px;
  }

.sticky{
    position: sticky;
    flex-grow: 1;
}